$black: #1e0f2c;
$color-1: #5a3f98;
$color-2: #8ed1c4;
$color-3: #f37835;
$error: #ED4747;
$gray-darker: #bec4c9;
$gray: #eaeaea;

$xs: "(max-width: 340px)";
$sm: "(max-width: 767px)";
$md: "(max-width: 991px)";
$lg: "(max-width: 1199px)";
$xl: "(min-width: 1600px)";
$xs-abs: "(min-width: 0px) and (max-width: 339px)";
$sm-abs: "(min-width: 340px) and (max-width: 767px)";
$md-abs: "(min-width: 768px) and (max-width: 991px)";
$lg-abs: "(min-width: 992px) and (max-width: 1199px)";